.container {
    background-color: greenyellow;
    color: blue;
    display: flex;
    justify-content: center;
}

.human-choice {
    background-color: aqua;
    display: inline-flex;
    flex-direction: column;
}