<<<<<<< HEAD
.container {
    background-color: greenyellow;
    color: blue;
    display: flex;
    justify-content: center;
}

.human-choice {
    background-color: aqua;
    display: inline-flex;
    flex-direction: column;
}
=======
 body{
    background-color: whitesmoke;
 }

 
>>>>>>> 8ebd27bda73e116855009be21ba6fccd9fc2bc7a
